<!DOCTYPE html>
<html lang="en-US">
<head th:replace="_fragment :: head(~{::title})">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>OICQ忘记密码</title>
	<meta name="description" content="Cabe - Responsive Multi-purpose HTML5 Template">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- STYLESHEETS -->
	<link href="../static/css/Montserrat.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css" type="text/css" media="all">

	<link rel="stylesheet" href="../static/css/themify-icons.css">

	<link rel="stylesheet" href="../static/css/main.min.css" type="text/css" media="all">
<!--	<link rel="stylesheet" href="../static/css/dark.css">-->

</head>

<body>
<main class="bg-grey" th:style="'background-image:url('+@{/images/bg_night.JPG}+')'" style="background-image: url(../static/images/bg_night.JPG);">
<div class="d-flex align-items-center mx-auto login-form">
			<div class="container">
				<div class="card">
					<div class="card-body p-5">
						<form>
							<h3 class="title-text mb-4"><b>获取密码</b></h3>
							<p class="mb-4">请输入您的注册邮箱，密码将通过邮件的形式发送至您的邮箱</p>
							<div class="input-group mb-3">
			              		<i class="ti-email"></i>
			                	<input class="form-control form-control-lg" type="email" id="email1" placeholder="邮箱" required="">
			              	</div>
			              	
			              	<button class="btn btn-block btn-lg btn-primary mt-2" onclick="p()" type="button"><b>获取密码</b></button>
							<p class="mt-4 text-center"><a class="link-primary" th:href="@{/login}" href="register.html">点击这里返回登录</a>.</p>

						</form>
					</div>
				</div>
			</div>			
		</div>
	</main>


	<!-- SCRIPTS -->
	<!-- SCRIPTS -->
	<th:block th:replace="_fragment :: javascript">
		<script src="../static/js/plugin.js"></script>
		<script src="../static/js/main.min.js"></script>
	</th:block>
	<script>
		function a(){
			alert("暂未开发此功能！请联系开发者；邮箱2250671362@qq.com");
		}
		function p(){
			let email1 = $('#email1').val();
			console.log(email1)
			let reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
			if(email1==="" || !reg.test(email1)){
				alert("邮箱不合法！")
				return;
			}
			axios.post('/get_password',{
				email:email1
			}).then(function (response) {
				if(response.data.status===200){
					alert("密码已经成功发送至您的邮箱，请查收!");
				}else{
					alert(response.data.msg);
				}
			}).catch(function (e){
				console.log(e);
			});
		}
	</script>
</body>

</html>
