<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>首页</title>
	<meta name="description" content="Cabe - Responsive Multi-purpose HTML5 Template">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- STYLESHEETS -->
	<link href="../static/css/Montserrat.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css" type="text/css" media="all">

	<link rel="stylesheet" href="../static/css/themify-icons.css">

	<link rel="stylesheet" href="../static/css/main.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" href="../static/css/my.css">
</head>

<body>

<div id="app">

	<!-- main wrapper -->
	<div class="main-wrapper">
		<!-- navigation -->
		<nav class="navigation">
			<div class="container pl-0 pr-0">
				<div class="nav-content">
					<ul>
						<li><a href="#" class="nav-content-bttn" data-tab="favorites"><i class="ti-heart"></i></a></li>
						<li class="flex-lg-brackets"><a href="#"  data-tab="settings" class="nav-content-bttn"><i class="ti-settings"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- navigation -->
		<div class="right-content">
			<div class="left-sidebar">
				<div class="chat-header">
					<div class="chat-header-user">
						<figure class="avatar">
							<a href="#" @click="open_my_profile_window" class="profile-detail-bttn"><img  v-bind:src="profile_url" class="rounded-circle" alt="image"></a>
						</figure>
						<div>
							<h5 class="mt-0 mb-0" v-text="my_nickname"></h5>
							<small class="text-success" v-text="my_email"></small>
						</div>
					</div>
					<div class="chat-header-action nav-content">
						<ul class="list-inline mb-1 mt-3">
							<li class="list-inline-item mr-3"><a href="#" @click="logout"><i class="ti-lock"></i></a></li>


							<li class="list-inline-item mr-3 night-mode"><a href="#"><i class="ti-light-bulb"></i></a></li>

							</li>

						</ul>
					</div>
				</div>

				<!--世界大厅-->
				<div class="sidebar" id="favorites">
					<div class="chat-list-content">
						<div class="text-left mb-2 mt-3"><h2 class="title-text"><b>大厅</b></h2></div>
						<div class="chat-list-content">
							<form onsubmit="return false">
								<button @click="open_lobby_window">打开公共聊天室</button>
							</form>
						</div>
					</div>
				</div>

				<!--个人设置-->
				<div class="sidebar" id="settings">
					<div class="text-left mb-2 mt-3"><h2 class="title-text"><b>账号</b> 设置 </h2></div>
					<div class="chat-list-content mb-3 mt-3">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">主页信息<span>设置您的主页显示信息。</span></a></h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<form class="mb-3 mt-3">
											<label for="name1" style="color: white">选择头像</label>
											<div>
												<img v-for="index in images" v-bind:src="'/images/user-'+index+'.png'"  style="margin-right: 5px" alt="image" @click="change_profile(index)">
											</div><br>
											<label for="name1" style="color: white">昵称</label>
											<input v-model="nickname_edit" id="name1" type="text" style="color: white;" class="form-control mb-3" placeholder="昵称">
											<label for="sex1" style="color: white">性别</label>
											<input v-model="sex_edit" id="sex1" type="text" style=";color: white" class="form-control mb-3" placeholder="性别">
											<label for="birthday1" style="color: white">生日</label>
											<input v-model="birthday_edit" id="birthday1" type="text" class="form-control mb-3" style="color: white" placeholder="生日">
											<label for="phone1" style="color: white">手机</label>
											<input v-model="phone_edit" id="phone1" type="text" class="form-control mb-3" style="color: white" placeholder="手机">
											<label for="bio" style="color: white">个性签名</label>
											<textarea v-model="signature_edit" name="name" id="bio" cols="30" rows="4" class="mb-3" style="color: white" placeholder="个性签名"></textarea>
											<button type="button" @click="update_my_info">保存</button>
										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">修改密码 <span>修改您的登录密码。</span></a></h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										<form action="#" class="mb-3 mt-3">
											<input type="text" style="color: white" v-model="old_pw" class="form-control mb-3" placeholder="旧密码">
											<input type="text" style="color: white" v-model="new_pw" class="form-control mb-3" placeholder="新密码">
											<button @click="change_password" type="button">保存</button>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>

			<div v-show="lobby_window===false" :class="{'chat-content':false,'mobile-active':chat_window}">
				<!-- chat header -->
				<div class="chat-header">
					<div class="chat-header-user">

					</div>
					<div class="chat-header-action">
						<ul class="list-inline mb-0 mt-2">
							<li class="list-inline-item d-xl-none d-lg-none"><a href="#" @click="close_chat_window" class="bttn-box-round back-chat-div"><i class="ti-arrow-left"></i></a></li>
							<li class="list-inline-item">
								<a href="#" class="bttn-box-round" data-toggle="dropdown"></a>

							</li>
						</ul>
					</div>
				</div>

				<!-- chat body -->
				<div id="chat-body" class="chat-body" style="overflow: hidden;outline: none;">
					<div class="messages-content">

						<div v-for="message in messages_show" :class="{'message-item':true,'outgoing-message':message.type==='out'}">
							<div class="message-user" :style="{float: (message.type==='in'?'left':'none')}">
								<div class="message-wrap" style="padding: 15px;" v-show="message.type==='out'" v-text="message.content">你好呀</div>

								<div class="message-wrap" style="padding: 15px;" v-show="message.type==='in'" v-text="message.content">你好呀</div>
							</div>
						</div>

					</div>
				</div>

			</div>
<!--/////////////////////////////////////////////////--><!--/////////////////////////////////////////////////--><!--/////////////////////////////////////////////////-->
<!--			大厅-->
			<div v-show="lobby_window" :class="{'chat-content':true,'mobile-active':lobby_window}">
				<!-- chat header -->
				<div class="chat-header">
					<div class="chat-header-user">
						<figure class="avatar user-online">
							<img v-bind:src="lobby_or_group===false?'/images/lobby.png':my_groups[chatting_group_index].url" class="rounded-circle" alt="image">
						</figure>
						<div>
							<h5 class="mt-2 mb-0" v-text="lobby_or_group===false?'公共聊天室(当前在线人数:'+lobby_number+')':my_groups[chatting_group_index].name+'(群ID:'+my_groups[chatting_group_index].id+')'"></h5>
						</div>
					</div>
					<div class="chat-header-action">
						<ul class="list-inline mb-0 mt-2">
							<li class="list-inline-item d-xl-none d-lg-none"><a href="#" @click="close_lobby_window" class="bttn-box-round back-chat-div"><i class="ti-arrow-left"></i></a></li>
							<li v-show="lobby_or_group" class="list-inline-item">
								<a href="#" class="bttn-box-round" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- chat header -->
				<!-- chat body -->
				<div id="lobby-chat-body" class="chat-body" style="overflow: hidden;outline: none;">
					<div class="messages-content">
<!--						公共聊天室-->
						<div v-show="lobby_or_group===false" v-for="message in lobby_messages" :class="{'message-item':true,'outgoing-message':message.type==='out'}">
							<div class="message-user">
								<figure class="avatar">
									<img v-bind:src="message.url" alt="image">
								</figure>
								<div>
									<h5 v-text="message.type==='out'?my_nickname:message.name"></h5>
									<div class="time" v-text="message.time"></div>
								</div>
							</div>
							<div class="message-wrap" style="padding: 15px;" v-text="message.content"></div>
						</div><!--						公共聊天室-->

					</div>
				</div>
				<!-- chat body -->
				<!-- chat footer -->
				<div class="chat-footer">
					<form onsubmit="return false">
						<input type="text" v-model="lobby_text_typing" @keyup.enter="send_lobby_message" placeholder="...">
						<button type="button" @click="send_lobby_message"><img src="../static/images/send.png" th:src="@{/images/send.png}" alt="send"></button>
					</form>
				</div>
				<!-- chat footer -->
			</div>
			<!--/////////////////////////////////////////////////--><!--/////////////////////////////////////////////////--><!--/////////////////////////////////////////////////-->
			<div class="right-sidebar" style="overflow: hidden;outline: none;">
				<div :class="{'profile-content':true,'scroll-profile':true,'active':profile_show}">
					<header>
						<h2 class="title-text" v-text="chatting_with===-1?'我的主页':friends[chatting_with].nickname+'的主页'">我的信息</h2>
						<a href="#" @click="close_profile_window" class="close-icon float-right"><i class="ti-close  text-danger"></i></a>
					</header>
					<div class="text-center mt-4">
						<figure class="avatar avatar-xl mb-4">
							<img v-bind:src="chatting_with===-1?profile_url:friends[chatting_with].url" class="rounded-circle" alt="image">
						</figure>
						<h3 class="mb-0" style="color: white" v-text="chatting_with===-1?my_nickname:friends[chatting_with].nickname"></h3>
						<small class="text-success" v-text="chatting_with===-1?my_email:friends[chatting_with].email"></small>

						<ul class="profile-detail list-inline pt-5">
							<li class="list-block-item text-left">
								<h6 class="mb-0">性别</h6>
								<small v-text="chatting_with===-1?my_sex:friends[chatting_with].sex">男</small>
							</li>
							<li class="list-block-item text-left">
								<h6 class="mb-0">个性签名</h6>
								<small v-text="chatting_with===-1?my_signature:friends[chatting_with].signature">最近好累哟，秋天的落叶</small>
							</li>
							<li class="list-block-item text-left">
								<h6 class="mb-0">手机号码</h6>
								<small v-text="chatting_with===-1?my_phone:friends[chatting_with].phone">+111 990 332 2223</small>
							</li>
							<li class="list-block-item text-left">
								<h6 class="mb-0">出生日期</h6>
								<small v-text="chatting_with===-1?my_birthday:friends[chatting_with].birthday">2000.02.09</small>
							</li>
							<li class="list-block-item text-left" v-show="chatting_with===-1">
								<h6 class="mb-0">注册时间</h6>
								<small v-text="register_time">2000.02.09</small>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- main wrapper -->
	<div class="ui dimmer modals page transition hidden" style="display: flex !important;">
		<div class="ui longer test modal transition hidden" style="display: block !important;">
			<div class="header">
				点击好友头像 邀请好友入群
			</div>

			<div class="actions">
				<div class="ui primary approve button">
					Proceed
					<i class="right chevron icon"></i>
				</div>
			</div>
		</div>
	</div>

</div>



	
	<!-- SCRIPTS -->
	<!-- SCRIPTS -->
	<th:block th:replace="_fragment :: javascript_for_index">




		<script src="../static/js/plugin.js"></script>
		<script src="../static/js/my.js"></script>
		<script src="../static/js/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="../static/js/main.min.js"></script>
	</th:block>
</body>

</html>
